.main_table {
    margin: 20px auto;
}
.td_color {
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    text-align: center;
    border: none;
    box-shadow: none;
    font-weight: bold;
}
.detail {
    text-decoration: none;
    display: block;
    width:100%;
}
#scroll {
    display: none;
    cursor: pointer;
    background-color: white;
    opacity: .3;
    height: 100%;
    width: 100px;
    position: fixed;
    margin: -10px 0 0 -10px;
}
#scroll:hover {
    background-color: #4b78bb;
}
#scroll_text {
    margin: 50% auto;
    text-align: center;
}
#print_button {
    display: none;
    position: fixed;
    margin: 30% 0 0 82%;
}
#print_img {
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: .6;
}
#print_img:hover {
    opacity: 1;
}
#res_img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: .6;
}
#res_img:hover {
    opacity: 1;
}
#fix_button {
    outline: none;
    background: none;
    border-style: none;
}
#res_button {
    outline: none;
    background: none;
    border-style: none;
}
#reset_button {
    position: absolute;
    margin: 15px 0 0 74%;
}
.close_table {
    margin: 20% auto;
}
.union_table {
    width: 100%;
    margin: 0 auto;
}
.user_table {
    width: 50%;
    margin: 0 auto;
}
#user_table {
    width: 100%;
    height: 25px;
}
.moder_table {
    width: 70%;
    margin: 200px auto;
}
#date_filter {
    position: absolute;
    margin: 15px 0 0 25px;
}
.announce_block {
    margin: 0 auto;
}
.announce_table {
    margin: 20px auto;
    width: 50%;
}
#staff_edit:hover {
    background-color: #66cc66;
}
#announce_table {
    width: 75%;
    margin: 0 0 0 257px ;
}