RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/\.]+)/?$ index.php?page=$1 [L]
RewriteRule ^([^/\.]+)/([^/\.]+)/?$ index.php?page=$1&id=$2 [L]
RewriteRule ^([^/\.]+)/([^/\.]+)/([^/\.]+)/?$ index.php?page=$1&id=$2&number=$3 [L]

ErrorDocument 403 /pages/403.html
ErrorDocument 404 /pages/404.html
ErrorDocument 500 /pages/500.html
ErrorDocument 502 /pages/502.html
